  #header {
  font-size: large;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  }

  .topnav {
  overflow: hidden;
  background-color: #333;
  }

  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

  .topnav a:hover {
  background-color: #ddd;
  color: #000000;
  }

  #header .topnav a.active {
    background-color: #6B9D6D;
    color: #FFFFFF;
  }
